@model prestamoHerramientas.Models.Marca

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle de la Marca</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Marca
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMarca)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Exactitud
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exactitud)
        </dd>
        <dt class = "col-sm-2">
            Tipo de Herramienta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoHerramientaNavigation.TipoHerramienta1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMarca" class="btn btn-sm btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-sm btn-secondary">Regresar</a>
</div>
